@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Light.eot");
  src: url("../src/assets/fonts/Gilroy-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-Light.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-Light.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-Light.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-LightItalic.eot");
  src: url("../src/assets/fonts/Gilroy-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-LightItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-LightItalic.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-LightItalic.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-LightItalic.svg#Gilroy-LightItalic")
      format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Regular.eot");
  src: url("../src/assets/fonts/Gilroy-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-Regular.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-Regular.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-RegularItalic.eot");
  src: url("../src/assets/fonts/Gilroy-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-RegularItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-RegularItalic.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-RegularItalic.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-RegularItalic.svg#Gilroy-RegularItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Medium.eot");
  src: url("../src/assets/fonts/Gilroy-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-Medium.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-Medium.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-Medium.svg#Gilroy-Light") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-MediumItalic.eot");
  src: url("../src/assets/fonts/Gilroy-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-MediumItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-MediumItalic.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-MediumItalic.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-MediumItalic.svg#Gilroy-MediumItalic")
      format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-SemiBold.eot");
  src: url("../src/assets/fonts/Gilroy-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-SemiBold.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-SemiBold.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-SemiBoldItalic.eot");
  src: url("../src/assets/fonts/Gilroy-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-SemiBoldItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-SemiBoldItalic.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-SemiBoldItalic.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-SemiBoldItalic.svg#Gilroy-SemiBoldItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Bold.eot");
  src: url("../src/assets/fonts/Gilroy-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-Bold.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-Bold.svg#Gilroy-Light") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-BoldItalic.eot");
  src: url("../src/assets/fonts/Gilroy-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-BoldItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-BoldItalic.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-BoldItalic.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-BoldItalic.svg#Gilroy-BoldItalic")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-ExtraBold.eot");
  src: url("../src/assets/fonts/Gilroy-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-ExtraBold.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold")
      format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Black.eot");
  src: url("../src/assets/fonts/Gilroy-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-Black.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-Black.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-Black.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-Black.svg#Gilroy-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-BlackItalic.eot");
  src: url("../src/assets/fonts/Gilroy-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Gilroy-BlackItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Gilroy-BlackItalic.woff") format("woff"),
    url("../src/assets/fonts/Gilroy-BlackItalic.ttf") format("truetype"),
    url("../src/assets/fonts/Gilroy-BlackItalic.svg#Gilroy-Black") format("svg");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: white;
  background: #000;
  user-select: none;
  font-family: "Gilroy", sans-serif;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  margin-top: 30px;
  margin-left: 40px;
}

.texture {
  position: absolute;
  opacity: 0.14;
  mix-blend-mode: screen;
  z-index: 0;
}

canvas {
  position: absolute;
  pointer-events: auto;
  z-index: 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  transition: 0.5s ease-in-out;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: rgba(0, 0, 0, 0.2);
}

.img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  pointer-events: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-two-container {
  position: absolute;
  top: 0;
  left: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.hero-heading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.text-block {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  top: 500px;
}

.text-small {
  position: relative;
  width: fit-content;
  height: fit-content;

  p {
    position: relative;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -0.03em;
  }
}

.text-heading {
  position: relative;
  text-align: center;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  color: white;
}

.shakti-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: lighten;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.6;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.sub-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 100%;
  height: 50vh;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.4;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  pointer-events: none;

  .left-block {
    width: 50%;

    .left-block-one {
      position: absolute;
      width: 45%;
      transform: translateY(150%);
      transition: 0.5s ease-in-out;

      .sub-text-one {
        span {
          background: linear-gradient(to right, black 5%, grey);
          padding: 0.3rem;
          font-weight: 400;
          font-size: 2rem;
        }
      }

      .sub-text-two {
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 1rem;
        span {
          color: red;
        }
      }
    }

    .left-block-two {
      transform: translateY(150%);
      transition: 0.5s ease-in-out;
      width: 90%;
      span {
        font-size: 2rem;
        font-weight: 600;
      }

      .orange-text {
        color: orange;
        background: linear-gradient(to right, black 5%, grey);
        padding: 0.3rem;
      }

      hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .right-block {
    width: 45%;
    text-align: right;

    .right-block-one {
      position: absolute;
      padding-right: 4rem;
      transform: translateY(350%);
      transition: 0.5s ease-in-out;
      span {
        font-weight: 500;
        font-size: 1.5rem;
      }

      .bg-text {
        background: linear-gradient(to right, black 5%, grey);
        padding: 0.3rem;
      }
    }

    .right-block-two {
      padding-right: 2rem;
      transform: translateY(200%);
      transition: 0.5s ease-in-out;
      .top-text {
        font-size: 2rem;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.2;

        span {
          color: orange;
        }
      }
    }
  }
}

.unity-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 1rem;
  pointer-events: none;
  overflow: hidden;
  transform: translate(-50%, -50%);
  transition: 1s ease-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  .top-text {
    background: linear-gradient(to right, #ff6b00 40%, #ffffff);
    padding: 0.5rem;
    border-top-right-radius: 2rem;
    font-style: italic;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  }

  .shiv-shakti {
    letter-spacing: -0.05em;
    line-height: 1.2;
    font-size: 4rem;
    font-weight: 200;
    transition: 0.2s ease-in;

    .main-text {
      font-size: 5rem;
      font-weight: 500;
      text-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
    }

    .sub-text {
      margin-left: 4rem;
      margin-right: 5rem;
      color: #ff6b00;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .bottom-text {
    letter-spacing: 0.5em;
    font-size: 1.5rem;
  }
}

.center-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hawan-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.hawan-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: darken;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bg-cut {
  position: absolute;
  bottom: 40%;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  pointer-events: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.3;
  }
}

.havan-text-wrapper {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  transition: 4s ease-in-out;
}

.havan-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);

  span {
    font-size: 5rem;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    font-size: 1.5rem;

    span {
      font-size: 3rem;
    }
  }
}

.havan-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -1.5rem;
  z-index: 1;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.havan-button {
  border: 2px solid white;
  border-radius: 2rem;
  padding: 0.2rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    background: #000;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    pointer-events: auto;
    transition: 0.2s ease-in-out;

    svg {
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
    }

    &:hover {
      background: #ff6b00;
      color: white;
    }
  }

  @media (max-width: 768px) {
    button {
      font-size: 0.7rem;
      padding: 0.3rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.mandala-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
  transition: 0.5s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 4s ease-in-out;
    transform: scale(1.5);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.modal-content {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 80%;
  background: #000;
  border-radius: 15px 15px 0 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  transition: 0.5s ease-in-out;

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff6b00;
    padding: 1rem;
    cursor: pointer;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@media (max-width: 768px) {
  .sub-content {
    gap: 1rem;
    padding: 1rem;
    height: 90vh;
    font-size: 1rem;

    .left-block {
      width: 50%;

      .left-block-one {
        width: 50%;
        transform: translateY(170%);

        .sub-text-one {
          span {
            padding: 0.1rem;
            font-weight: 400;
            font-size: 1rem;
          }
        }
      }

      .left-block-two {
        width: 100%;
        span {
          font-size: 1rem;
        }
      }
    }

    .right-block {
      width: 50%;

      .right-block-one {
        padding-right: 1rem;
        transform: translateY(350%);
        span {
          font-weight: 500;
          padding: 0.1rem;
          font-size: 1rem;
        }
      }

      .right-block-two {
        padding-right: 0.5rem;
        .top-text {
          font-size: 1rem;
        }
      }
    }
  }

  .unity-text {
    margin-left: 1rem;

    .shiv-shakti {
      font-size: 2rem;

      .main-text {
        font-size: 3rem;
      }

      .sub-text {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 0.8rem;
      }
    }

    .bottom-text {
      font-size: 1rem;
    }
  }
}
